* {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
p {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fbfbfb;
}
.underline {
  font-size: 14px;
  vertical-align: bottom;
  color: blue;
  padding-left: 5px;
}
.underline:hover {
  text-decoration: underline;
}
#sup {
  font-size: 8.4px;
  color: blue;
}
.nav {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.nav ul {
  display: inline;
}
.nav li {
  display: inline;
  padding: 15px 0 0 35px;
  font-size: 12px;
  font-weight: 400;
}
.nav a {
  text-decoration: none;
  padding-left: 25px;
  color: rgba(0, 0, 0, 0.8);
  
}
.nav svg {
  vertical-align: middle;
}
.shop {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  background-color: #fff;
}
.shop-section {
  display: grid;
  grid-template-columns: 2fr 400px;
  padding-top: 0;
  margin-top: 40px;
  height: 200px;
}
.shop-banner {
  font-size: 45px;
  font-weight: 600;
  color: rgb(110, 110, 115);
  width: 700px;
  margin-top: 40px;
  padding-left: 140px;
}
.chat-store {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-right: 80px;
}

.chat-help {
  display: grid;
  grid-template-columns: 44px 1fr;
  padding-top: 36px;
}
.chat-help img {
  border-radius: 20px;
}
.chat-visit {
  display: grid;
  grid-template-columns: 44px 1fr;
}
/*`````````responsive Menu toogle```````````````*/

.toggle-btn {
  float: right;
  display: none;
  margin-top: 10px;
}
#nav-check {
  display: none;
}

@media (max-width: 922px) {
  .toggle-btn {
    display: inline-block;
    margin-top: 15px;
    padding-left: 15px;
  }
  .nav ul {
    position: absolute;
    display: block;
    overflow-y: hidden;
    padding-left: 0;
    margin-top: 70px;
  }
  .nav li {
    display: inline-block;
    font-size: 28px;
    padding-left: 0;
    width: 100%;
    text-align: left;
  }
  .nav li::after {
    content: ">";
    float: right;
    display: none;
  }
  .nav li:hover::after {
    display: block;
  }
  .nav li a {
    color: rgb(0 0 0);
  }
  .nav .icons {
    float: right;
    padding-top: 4.5px;
  }

  .logo {
    float: left;
    height: 55px;
  }
  .shop {
    height: 100px;
    text-align: center;
  }

  .shop p {
    margin: 0;
    padding: 20px;
  }

  /*To show Unorder-lists*/
  .nav #nav-check:checked ~ ul {
    height: calc(1000vh - 1000px);
  }

  .nav #nav-check:not(:checked) ~ ul {
    height: 0px;
  }

  /*To hide everything when checked*/
  .nav #nav-check:checked ~ .icons,
  .nav #nav-check:checked ~ .logo,
  .nav #nav-check:checked ~ a {
    display: none;
  }

  .nav #nav-check:checked ~ {
    font-size: 18px;
  }

  /* ~~~~~~Shop Sextion Responsive~~~~~~~~~~~~~ */
  .shop-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 320px;
    margin-top: 0;
  }
  .shop-banner {
    width: 100%;
    font-size: 32px;
    padding-left: 0;
    margin-left: 25px;
  }
  .chat-store{
    margin-right: 0;
    margin-left: 24px;
  }
  
}
