@font-face { font-family: "ReithSans"; src: url("https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Bd.woff2") format("woff2"), url("https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Bd.woff") format("woff"); font-weight: 700; font-display: swap; }
*{
    margin: 0;
    padding: 0;
    font-family: "ReithSans";
}
